/.wordpress-org
/.git
/.github
/node_modules
/tests
/bin
/src
/.vscode

.distignore
.gitignore
.gitattributes
package.json
package-lock.json
composer.json
composer.lock
phpunit.xml
webpack.config.js
.eslintrc
.editorconfig
